.main_content {
    width: 100%;
    height: calc(100% - 70px);
    position: relative;

    & .primarycolor{
        color: #46ed99;
    }

    & .content_box {
        background: #ddd;
        height: 96%;
        width: 78.5%;
        position: absolute;
        left: 14px;
        top: 14px;
        box-sizing: border-box;
        padding: 20px;

        & .data_form {
            background-color: white;
            width: 100%;
            height: 80px;

            & .data_form_input {
                margin: 25px;
                height: 35px;
                width: 235px;
                padding-left: 10px;
                border-radius: 5px;
                border: solid #4ad48a 2px;
                outline: none;
            }

            & .data_form_button {
                margin: 15px;
                margin-top: 5px;
            }

            & .data_form_button:hover .save_button{
                background: #4ad48a !important;
            }

            & input:focus::placeholder {
                opacity: 0;
            }
        }

        & .data_show {
            width: 100%;
            height: 90.8%;
            box-sizing: border-box;
            padding-top: 20px;
            
            & .row_data_head {
                background-color: white;
                width: inherit;
                height: 60px;
                padding: 15px;
                box-sizing: border-box;

                & .row_data_head_element {
                    // width: 25%;
                    text-align: center;
                    font-weight: 600;
                    font-size: 18px;
                    color: #919191;
                }

                & .row_data_head_element_div {
                    font-weight: 600;
                    font-size: 18px;
                }
            }

            & .row_data_container {
                height: 85%;
                width: calc(100% + 10px);
                margin-top: 10px;
                overflow-y: scroll;
                overflow-x: hidden;

                & .edit_data_form{
                    background-color: white;
                    width: 100%;
                    height: 50px;
                    margin-bottom: 10px;

                    & .edit_data_form_input {
                        margin-top: 8px;
                        margin-bottom: 15px;
                        margin-left: 10px;
                        height: 35px;
                        padding-left: 10px;
                        border-radius: 5px;
                        border: solid #4ad48a 2px;
                        outline: none;
                    }

                    & .edit_data_form_button {
                        margin: 20px;
                        margin-top: 15px;
                    }

                    & .edit_data_form_btn:hover {
                        cursor: pointer;
                        color: rgba($color: #1dce84, $alpha: 0.9) !important;
                    }
                }

                & .row_data {
                    background-color: white;
                    width: inherit;
                    height: 50px;
                    margin-bottom: 10px;
                    padding: 10px;
                    box-sizing: border-box;
                    
                    & .row_data_element {
                        // width: 25%;
                        text-align: center;
                    }

                    & .row_data_element_div {
                        font-weight: 600;
                        font-size: 18px;
                    }

                    & .rowdata_btn:hover {
                        cursor: pointer;
                        color: rgba($color: #1dce84, $alpha: 0.9) !important;
                    }

                    & .data_element_pass {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }

                    & .fadeout {
                        transition: height 500ms 500ms, opacity 500ms 0ms;
                        opacity: 0.0;
                        height: 0px;
                    }
                }
            }
        }
    }

    & .side_nav {
        background-color: #2b2f32;
        width: 300px;
        height: 100%;
        position: absolute;
        right: 0;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    & .sidebar_avatar {
        $avatar: 100px;
        height: $avatar;
        width: $avatar;
    }

    & .setting_btn {
        border-radius: 15px;
    }

    & .addphotoicon {
        position: absolute;
        right: -12px;
        bottom: -14px;
        cursor: pointer;
        color: white;
    }
}

.form_body {
    height: 100vh;
    width: 100vw;
    background-image: url('./login.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    & .form_box {
        background: rgba($color: #000000, $alpha: 0.0);
        height: 30em;
        width: 45em;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
    }

    & .navbar {
        width: inherit;
        height: 60px;
        background-color: #3cd387;

        & .brand {
            width: auto;
            padding: 2px 20px;

            & .brand_text {
                color: white;
                font-weight: 600;
                font-size: 22px;
            }
        }

        & .button_box {
            width: auto;
            height: 40px;

            .navbar_button {
                padding: 7px 20px;
                border-radius: 15px;
                background-color: #77c22a;
                margin-right: 20px;
                transition: all 0.4s ease-in-out;
            }
        }

        .sidenav_footer {
            width: inherit;
            height: 100px;
            background: blue;
        }
    }

    & .form {
        background: white;
        height: 26rem;
        width: 29rem;
        margin: 0 auto;
        border-radius: 15px;
        
        & form {
            align-items: center;
            margin-top: 10px;
            position: relative;
        }

        & .avatar {
            height: 150px;
            width: 150px;
            margin-bottom: 0px;
            margin: 0 auto;
        }
    }

    & input{
        width: 18em;
        height: 40px;
        text-align: center;
        margin-top: -2px;
        margin-bottom: 4px;
        border-radius: 15px;
        outline: none;
        border: 3px solid rgb(89, 235, 89);
        position: relative;
    }

    & label {
        position: relative;
        top: 8px;
        z-index: 1;
        margin: 0;
        padding: 0 6px;
        background-color: white;
        color: rgb(45, 170, 45);
        transition: 0.4s all ease-in-out;
    }

    & .password {
        margin-top: -10px;
    }

    & input:focus {
        border: 3px solid rgb(4, 145, 4);
    }
    & input:focus label{
        opacity: 1;
    }

    & input:focus::placeholder {
        opacity: 0;
    }

    & input::-webkit-input-placeholder {
        transition: 0.2s ease-in;
    }

    & .form button{
        width: 10em;
        border-radius: 15px;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: #77c22a !important;
    }

    & .error_msg {
        color: red;
    }
}